html, body {
  overflow: hidden;
  background: #808080;
  color: #fff;
  font-weight: 500;
  height: 100%;
}

#app {
  height: 100%;
}

.chat {
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  flex: 1;
  overflow: hidden;
  margin: 0 !important;
}

.message-input-wrapper {
  margin: 0;
  display: flex;
  align-items: flex-end;
  padding: .5rem;
}